/** 회원가입/ 로그인/ 비밀번호찾기/ 아이디 찾기 창 css */

input::placeholder{
    font-family: 'Pretendard-Regular';
    font-size: 1rem;
    font-weight: 600;
    color: #979797;
    vertical-align: bottom;
}

.radio-text{
    font-family: 'Pretendard-Regular';
    font-size: 1rem;
    font-weight: 600;
    color: #979797;
}

.filebox{
    margin-top: 2rem;
    display: flex;
    align-items: flex-end;
}

.filebox>label{
    padding: .5rem;
    height: 1rem;
    font-size: 1rem;
    color: #ffffff;
    background-color: var(--btn-submit);
    border-radius: 8px;
    cursor: pointer;
}

.filebox>label:hover{
    background-color: var(--btn-nomal);
    transition:  background-color .3s ease-in-out;
}

.input-box-style{
    border: none;
}

.input-d-img{
    width: 150px;
    height: 150px;

    margin-right: 3rem;
}
input[type=file]{
    display: none;
}

[type=text],[type=password],textarea{
    font-family: 'Pretendard-Regular';
    font-size: 1rem;
    color: var(--text-color);
    background: none;
}

[type=text]:focus{
    border-bottom: 1px solid var(--btn-submit);
    transition: border-bottom .3s ease-in-out;
}
[type=password]:focus{
    border-bottom: 1px solid var(--btn-submit);
    transition: border-bottom .3s ease-in-out;
}

[type=button]{
    border: none;
    outline: none;
}

[type="radio"], span {
    vertical-align: middle;
}


[type="radio"] {
    appearance: none;
    border: max(2px, 0.1em) solid gray;
    border-radius: 50%;
    width: 1.25em;
    height: 1.25em;
    transition: border 0.2s ease-in-out;
}

[type="radio"]:checked {
    border: 0.4em solid tomato;
}

[type="radio"]:focus-visible {
    outline-offset: max(2px, 0.1em);
    outline: max(2px, 0.1em) dotted tomato;
}

[type="radio"]:hover {
    box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
    cursor: pointer;
}

[type="date"]{
    border: none;
    width: 100%;
    text-align: center;
}

[type="number"]{
    border: none;
    background-color: #ffffff00;
}

input[type='date']::before {
    content: attr(placeholder);
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Pretendard-Regular';
    width: 100%;
    height: 100%;
}
.input-img{
    width: 100px;
    height: 100px;
}

.address-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.address-btn-container{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.address-btn{
    padding: 0.5rem 0;
    width: 6rem;
    height: 2rem;
    font-size: 1rem;
    color: #ffffff;
    background-color: var(--btn-submit);
    border-radius: 8px;
    cursor: pointer;
}

.input-container{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.radio-container{
    width: 70%;
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin: 1rem;
}
.radio-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.input-text{
    width: 25rem;
    border: none;
    outline: none;
    border-bottom:1px solid rgb(180, 180, 180);
    margin: 1rem;
}

.login-tools{
    width: 25rem;
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.duplication-check{
    position: relative;
}

.duplication-btn{
    position: absolute;
    top: -5px;
    right: 30px;
    bottom: 5px;
}

.logintool-text{
    font-weight: 600;
    margin: .3rem;
}

.form-section{
    height: 100%;
    width: inherit;
}

.form-css{
    width: inherit;
}

.form-container{
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.boader-none{
    border: none;
    outline: none;
}

.style-area{
    border: none;
    outline: none;
    width: 15rem;
    font-family: 'Pretendard-Regular';
    background-color: #e2e2e2;
}

.form-text{
    font-weight: 600;
}

.react-modal-css{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.withdraw-img{
    width: 100px;
}

.withdraw-text{
    font-family: 'Pretendard-Regular';
    font-weight: 600;
    margin: 1rem;
    color: var(--text-color);
    text-align: center;
}

.main-nav-list-text.active{
    font-weight: 600;
    color: var(--btn-submit);
}

.react-datalist-input__textbox {
    width: 25rem;
    font-size: 1rem;
    font-family: 'pretendard-regular';
    line-height: 1.25rem;
    margin: 0rem;
    color: #303438;
    background: none;
    border: none;
    outline: none;
    /* border-bottom: 1px solid rgb(100, 100, 100); */
  }


.react-datalist-input__listbox {
    height: 20rem;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 25rem;
    position: absolute;
    margin: 2px 0 0 0;
    padding: 0;
    border: var(--border);
    border-radius: var(--border-radius);
    background-color: white;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    box-shadow: var(--shadow);
    z-index: 10;
}
.react-datalist-input__container {
    width: 25rem;
    position: relative;
    --shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --gray: rgb(200, 200, 200);
    --padding: 5px;
    --border-radius: 5px;
    --border: 1px solid var(--gray);
  }
.react-datalist-input__listbox-option {
    width: 25rem;
    cursor: pointer;
    margin: 0;
    padding: var(--padding);
  }
  .react-datalist-input__listbox-option:focus {
    background-color: var(--gray);
  }
  .react-datalist-input__listbox-option:hover {
    background-color: var(--gray);
  }
  