/* 화면  550px 이하일때 */
@media (max-width: 550px) {
    .cd-container{
        width: 100%;
        }
    
    .login-tools{
        flex-direction: column;
        align-items: center;
    }
    .login-tools>div{
        width: 70vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 1rem;
    }
    .input-text{
        width: 80vw;
    }
    .radio-container{
        width: 80vw;
    }

    .address-input{
        width: 70vw;
    }

    .wi-30{
        width: 70vw;
    }
    
    .main-nav-list{
        width: 100%;
        justify-content: center;
    }

    .hover-img{
        width: 100%;
        height: auto;
    }
    .gray-line{
        width: 90%;
    }
}