/* 선택된 별의 색 */
.fas.fa-star {
    color: rgb(255, 217, 114);
    cursor: pointer;
    font-size: 1.5rem;
    margin: 0 .2rem;
}

/* 선택되지 않은 별의 색 */
.far.fa-star {
    color: rgb(255, 217, 114);
    cursor: pointer;
    font-size: 1.5rem;
    margin: .2rem;
}

.review-name-container,.review-write-star{
    margin: 1rem;
}

.review-write-username, .review-write-desname{
    margin: .5rem 0;
}

.review-write-title{
    font-size: 1.2rem;
    font-weight: 600;
    margin: .5rem 0;
}
.review-write-form{
    margin-top: 4rem;
    width: 85%;
    display: flex;
    flex-direction: column;
}

.text-area-size{
    resize: none;
    width: 98%;
    height: 100px;
}

.input-img-size{
    width: 250px;
    height: 250px;
}

.review-icon{
    color: var(--btn-submit);
    margin-right: .5rem;
}

.review-btns{
    display: flex;
}

.review-btn{
    width: 50%;
    margin: .5rem;
}

.review-filebox{
    width: 100%;
    display: flex;
    align-items: flex-end;
    margin: 1rem;
}


.review-filebox>label{
    padding: .5rem;
    height: 1rem;
    font-size: 1rem;
    color: #ffffff;
    background-color: var(--btn-submit);
    border-radius: 8px;
    margin-left: 1rem;
    cursor: pointer;
}

.review-filebox>label:hover{
    background-color: var(--btn-nomal);
    transition:  background-color .3s ease-in-out;
}

.input-box-style{
    border: none;
}
